{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    <div class="top-info-bar">
        <div class="container">
            <div class="header-block"> 
                <div class="top-services">
                    <div>{{ "<%= prefix %>_<%= shortname %>.freeShippingGermanyWide"|trans|sw_sanitize }}</div>
                    <div>{{ "<%= prefix %>_<%= shortname %>.moneyBackWarranty"|trans|sw_sanitize }}</div>
                    <div>{{ "<%= prefix %>_<%= shortname %>.freeHotline"|trans|sw_sanitize }}</div>
                </div>      
            </div>  
        </div>
    </div>

    {{parent()}}
    
{% endblock %}